body {
    margin: 1.5rem;
    background-color:hsl(0, 0%, 7%);;
    
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
:root {

  /**
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right, 
    hsl(45, 100%, 72%), 
    hsl(35, 100%, 68%)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: 'Poppins', sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}


input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

/* Section Header */
.section-header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
    text-align: center;
  }

/*topnav*/

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: medium ;

}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  border-radius: 8px;

  text-decoration: none;
  padding: 10px;
  display: block;
}


.nav-links a:hover{
  background-color:hsl(45, 100%, 72%);
  color:hsl(60, 1%, 32%)

}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      

  font-size: small ;

  }

  .nav-links.active {
      display: flex;
  }

  .menu-icon {
      display: flex;
  }
}
/* Contact Section */
.contact {
    display: flex;
    align-items: end;
    justify-content: center;
    color: #f2f2f2;
  }
  


  .cont {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: #333;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 20px;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .cont:hover {
    transform: scale(1.1);
    background-color:  hsl(45, 100%, 72%);
  }



  
/* Flex Container */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    color:  hsl(0, 2%, 80%);
    max-width: 90vw;
    margin: 0 auto;
    
    
  }
  
  .content {
    flex: 1;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem 0;
    background-color: hsl(240, 1%, 17%);
    border-radius: 42px;
    width: 50%;
    border: 1px solid  hsl(0, 0%, 22%);
  }
  
  .image-container {
    padding-left: 20px;
    flex: 1;
    margin: 1rem 0;
  }
  
  .image-container img {
    width: 75%;
    padding: 20px;
    height: auto;
    border: 1px solid hsl(0, 0%, 22%);;
    border-radius: 10px;
    max-width: 100%;
    transition: transform 1.0s ease-in-out;
  }
  
  .image-container img:hover {
    transform: rotate(5deg);
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .content{
      font-size: small;
    }
    .container {
        flex-direction: column;
        padding: 1rem;
    }
  
    .content, .image-container {
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
  }
  


  .table-container {
    background-color: #002B36; /* Dark blue background */
    color: #fff;
    font-size: medium;

    width: 75%;
    margin: 0 auto;
    overflow-x: auto;
    background-color: #1C1C1C; /* Slightly lighter dark background */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container thead {
    background-color:hsl(240, 1%, 17%);; /* Accent color for header */
    color: #fff;
}

.table-container th, td {
    padding: 12px 15px;
    text-align: left;
}

.table-container th {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.table-container tbody tr {
    border-bottom: 1px solid #333;
}

.table-container tbody tr:nth-of-type(even) {
    background-color: #706e6e; /* Darker background for alternating rows */
}

.table-container tbody tr:last-of-type {
    border-bottom: 2px solid hsl(240, 1%, 17%);; /* Accent color for the bottom border */
}

/* Responsive Design */
@media (max-width: 768px) {
    .table-container{
        width: 100%;
    }
    .table-container table, thead, tbody, th, td, tr {
        display: block;
    }

    .table-container thead tr {
        display: none;
    }

    .table-container tbody tr {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
    }

    .table-container  td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table-container td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}




/* Skillset */
.skillset{
 
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;          
    margin: 10px;           
    box-sizing: border-box;
    border-radius: 6pc;
   
}

.skillhead{
  font-size: larger;
    padding-left: 40px;
   
} 
  .skill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin: 10px;
    color: #333;
    width: 80px;
    background-color: #f2f2f2;
    border-radius: 20px;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .skill:hover {
    transform: translateY(-5px);
    background-color: hsl(45, 100%, 72%);
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
    justify-content: center; 
  }
  
  .skillmain {
    border: 1px solid  hsl(0, 0%, 22%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .skill {
      font-size: 20px;
      padding: 8px;
    }
    .skillhead{
      font-size: medium;
    }
    
  }
  
  @media (max-width: 480px) {
    .skill {
      font-size: 18px; 
      padding: 6px;
      margin: 5px; 
    }
  
    .skills {
        padding: 0;
      justify-content: center; 
    }
   
  }



  
/* Certification Section */

.certification{
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
  }
  .certification div{
    border:2px solid  hsl(0, 0%, 22%);
    color: white;
    width: 600px;
    padding: 20px;
   
  }
  
  .certification div:hover{
    
   background-color:  hsl(45, 100%, 72%);;
   color: #0e1d07;
  }
  
  @media (max-width:960px) {
    
.certification {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    font-size: medium;
  }
  
  .certification div {
    border: 1px solid  hsl(0, 0%, 22%);
    color: white;
    padding: 20px;
    margin: 10px;
    width: auto;
  }
  
  .certification div:hover {
    background-color: rgb(182, 185, 187);
    color: #0e1d07;
  }
    
  }


  
/* Project Section */
.mainproject {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    color: rgb(159, 243, 243);
  }
  
  .projects {
    border: 1px solid rgb(85, 85, 85);
    padding: 1rem;
    margin: 1rem;
    border-radius: 9px;
    box-sizing: border-box;
    text-align: center;
    color: #f2f2f2;
    font-size: small;
    transition: border-color 0.3s ease;
    
  }
  
  .projects:hover {
    border-color: hsl(45, 100%, 72%);;
  }
  
  @media (max-width: 900px) {
    .mainproject{
        padding: 0;
        padding-bottom: 20px;

    }
    .projects {
        width: auto;
        margin: 0;
        padding: 0;
        

    }
  }


  /*achivements*/
  .tab{

  
    font-size: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   padding: 2vw;
    color:  hsl(0, 0%, 84%);
    max-width: 90vw;
    margin: 0 auto;

  }
  
  .temp {
    flex: 1;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .tab {
        width:100%;
        flex-direction: column;
        padding: 0;
    }
  
    .temp {
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
  }


  
/* Footer Section */
.footer {
    margin: 0;
    padding: 1.5rem;
    color: black;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f2f2;
    font-size: medium;
  }
  
.mapbox {
  position: relative;
  height: 250px;
  justify-content: center;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid var(--jet);
  overflow: hidden;
}

.mapbox figure { height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}

.contact-form { margin-bottom: 10px;
}

.form-title { margin-bottom: 20px; }

.input-wrapper {
  display: flex;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
width: 90%;

  color: var(--white-2);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  outline: none;
}

.form-input::placeholder { font-weight: var(--fw-500); }

.form-input:focus { border-color: var(--orange-yellow-crayola); }

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer { display: none; }

.form-input:focus:invalid { border-color: var(--bittersweet-shimmer); }

.form-btn {
  position: relative;
  width: 25%;
  background: var(--border-gradient-onyx);
  color: var(--orange-yellow-crayola);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  
  border-radius: 14px;
  font-size: var(--fs-6);
  text-transform: capitalize;
  box-shadow: var(--shadow-3);
  z-index: 1;
  transition: var(--transition-1);
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.form-btn ion-icon { font-size: 16px; }

.form-btn:hover { background: var(--bg-gradient-yellow-1); }

.form-btn:hover::before { background: var(--bg-gradient-yellow-2); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover { background: var(--border-gradient-onyx); }

.form-btn:disabled:hover::before { background: var(--bg-gradient-jet); }

